@import url('https://fonts.googleapis.com/css2?family=Miniver&display=swap');

body {
  margin: 0; /* elimina márgenes por defecto */
  min-height: 100vh; /* asegura que cubra toda la pantalla */
  background: linear-gradient(
    to bottom,               /* dirección del degradado */
    rgb(227, 208, 82),  /* blanco arriba */
    rgb(203, 201, 201)   /* gris suave abajo */);
}

 nav {
      background-color: #3b141c;
      color: rgb(255, 255, 255);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 20px;
      position: relative;
    }

    ul {
      list-style: none;
      display: flex;
      gap: 20px;
      
    }

    ul li a {
      text-decoration: none;
      color: rgb(255, 255, 255);
      transition: color 0.3s;
    }

    ul li a:hover {
      color: #000000;
    }

 nav a {
      color: white;                /* color inicial del texto */
      text-decoration: none;        /* quita subrayado */
      padding: 8px 15px;            /* espacio interno */
      margin: 0 5px;                /* separación entre enlaces */
      transition: all 0.3s ease;   /* transición suave */
      display: inline-block;        /* para aplicar padding y border-radius */
      border-radius: 5px;           /* esquinas redondeadas por defecto */
    }

    nav a:hover {
      background-color: #f3961c;    /* fondo amarillo al pasar el cursor */
      color: black;                /* texto negro para contraste */
      border-radius: 100px;         /* esquinas más redondeadas al hover */
    }
    /* Ocultamos el checkbox */
    #menu-toggle {
      display: none;
    }

    /* Icono hamburguesa */
    .hamburger {
      display: none;
      flex-direction: column;
      cursor: pointer;
      gap: 5px;
    }

    .hamburger span {
      width: 25px;
      height: 3px;
      background-color: orange;
      border-radius: 2px;
      transition: all 0.3s ease;
      
    }
    
.logo{
    color: #fff;
    font-size: 30px;
    margin-top: 8px;
    max-width: 300px ;
}
.titulo{
    color: #000000;
    font-size: 48px;
    text-align: center;
}

.imagenes {
  display: flex;             /* los pone en fila */
  gap: 25px;                 /* espacio entre tarjetas */
  justify-content: center;  /* centra horizontalmente */
}

.imagenes .card {
  width: 250px;              /* mismo ancho para todas */
  height: 200px;             /* mismo alto para todas */
  overflow: hidden;          /* recorta la imagen que sobresalga */
  border-radius: 8px;
  margin-top: 40px;
  box-shadow: 5px 5px 5px 5px rgb(136, 158, 147);       /* opcional: esquinas redondeadas */
  
}

.imagenes .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;         /* llena sin deformar */
  display: block;
  
}
.imagenes .card img:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}
/*IMAGENES HACIA ABAJO*/
.imagenes-abajo {
  display: flex;             /* los pone en fila */
  gap: 15px;                 /* espacio entre tarjetas */
  justify-content: center;  /* centra horizontalmente */
}

.imagenes-abajo .card {
  width: 250px;              /* mismo ancho para todas */
  height: 200px;             /* mismo alto para todas */
  overflow: hidden;          /* recorta la imagen que sobresalga */
  border-radius: 8px;        /* opcional: esquinas redondeadas */
  margin-top: 40px;
  box-shadow: 5px 5px 5px 5px rgb(136, 158, 147); 
}

.imagenes-abajo .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;         /* llena sin deformar */
  display: block;
}
.imagenes-abajo .card img:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}
.underline {
  width: 60px; 
  height: 5px;
  background-color: orange;
  margin: auto;
  margin-top: -30px;
  border-radius: 2px;
  transition: 0.3s ease;
  cursor: pointer; 
}

.underline:hover{
    background-color: orange;
    transform: translateY(-5px);
  transition: transform 0.3s ease;
}

/* Responsive */
@media (max-width: 768px) {
  ul {
    display: none;
    flex-direction: column;
    position: absolute;
    font-style: italic;
    top: 60px;
    left: 50%;
    width: 50%;
    padding: 10px 0;
    text-align: center;
    font-size: 20px;
  }

  /* cuando se activa el checkbox, aparece el menú */
  #menu-toggle:checked + label + ul {
    display: flex;
  }

  .hamburger {
    display: flex;
  }

  /* animación para convertir la hamburguesa en X */
  #menu-toggle:checked + label .line1 {
    transform: rotate(45deg) translate(5px, 5px);
  }
  #menu-toggle:checked + label .line2 {
    opacity: 0;
  }
  #menu-toggle:checked + label .line3 {
    transform: rotate(-45deg) translate(5px, -5px);
  }
}


@media (max-width: 768px) {
      
 .galeria {
  text-align: center;
  padding: 20px;
}

.imagenes {
  display: grid;
  gap: 20px;
}
.imagenes-abajo {
  display: grid;
  gap: 20px;
}

.card {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  height: auto;
  display: block;
}

}