@import url('https://fonts.googleapis.com/css2?family=Miniver&display=swap');

body{
    background-color: #3b141c;
}

nav{
    background-color: #3b141c;
    display: flex;
    text-decoration: none;
    list-style: none;

}
nav ul {
    list-style: none;
    padding: 0;
    margin-left: 70%;
}
nav ul li {
    display: inline;
    margin: 0 15px;   
}
 nav a {
      color: white;                /* color inicial del texto */
      text-decoration: none;        /* quita subrayado */
      padding: 8px 15px;            /* espacio interno */
      margin: 0 5px;                /* separación entre enlaces */
      transition: all 0.3s ease;   /* transición suave */
      display: inline-block;        /* para aplicar padding y border-radius */
      border-radius: 5px;           /* esquinas redondeadas por defecto */
    }

    nav a:hover {
      background-color: #f3961c;    /* fondo amarillo al pasar el cursor */
      color: black;                /* texto negro para contraste */
      border-radius: 100px;         /* esquinas más redondeadas al hover */
    }
.title{
    color: #fff;
    font-size: 30px;
    margin-top: 8px;
    max-width: 300px ;
}
.titulo{
    color: #f3961c;
    font-family: "Miniver", sans-serif;
    font-size: 48px;
}
.subtitulo{
    color: #fff;
    font-size: 30px;
    margin-top: 8px;
    max-width: 300px ;
}
.descripcion{
    color: #fff;
    margin-top: 8px;
    max-width: 380px ;
}
.imagen{
    margin-left: 65%;
    margin-top: -420px;
}
.boton{
    background-color: #f3961c;
    border-radius: 100px;
    width: 130px;
    height: 40px;
    margin-top: 20px;
    border: #3b141c;
    transition: 0.3s ease;
    cursor: pointer;
}
.boton:hover{
    background-color:  #252525 ;
    color: white;
}