@import url('https://fonts.googleapis.com/css2?family=Miniver&display=swap');

body{
    background-color: #252525;
}
.title{
    color: #fff;
    font-size: 30px;
    margin-top: 8px;
    max-width: 300px ;
}
nav{
    background-color: #3b141c;
    display: flex;
    text-decoration: none;
    list-style: none;

}
nav ul {
    list-style: none;
    padding: 0;
    margin-left: 70%;
}
nav ul li {
    display: inline;
    margin: 0 15px;   
}

 nav a {
      color: white;                /* color inicial del texto */
      text-decoration: none;        /* quita subrayado */
      padding: 8px 15px;            /* espacio interno */
      margin: 0 5px;              /* separación entre enlaces */
      transition: all 0.3s ease;   /* transición suave */
      display: inline-block;        /* para aplicar padding y border-radius */
      border-radius: 5px;           /* esquinas redondeadas por defecto */
    }

    nav a:hover {
      background-color: #f3961c;    /* fondo amarillo al pasar el cursor */
      color: black;                /* texto negro para contraste */
      border-radius: 100px;         /* esquinas más redondeadas al hover */
    }
.titulo{
    color: #fff;
    font-size: 48px;
    text-align: center;
}
.subtitulo{
    color: #fff;
    font-size: 30px;
    margin-top: 8px;
    max-width: 300px ;
}
.descripcion{
    color: #fff;
    margin-top: 8px;
    max-width: 380px ;
}
.contenedor{
    width: 300px;
    height: 480px ;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    border-radius: 20px;
    text-align: center;
}
.contenedor-abajo{
    width: 300px;
    height: 480px ;
    padding: 10px;
    margin-top: 100px;
    box-sizing: border-box;
    position: relative;
    border-radius: 20px;
    text-align: center;
}
section{
    display: flex;
    justify-content: center;
    gap: 22%;
}
.underline {
  width: 60px; 
  height: 5px;
  background-color: orange;
  margin: auto;
  margin-top: -30px;
  border-radius: 2px; 
  transition: 0.3s ease;
  cursor: pointer; 
}
.underline:hover{
    background-color: orange;
    transform: translateY(-5px);
  transition: transform 0.3s ease;
}